
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .container {
        margin: auto;
        width: 360px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .container {
        margin: auto;
        width: 560px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .container {
        margin: auto;
        width: 660px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .container {
        margin: auto;
        width: 760px;
    }
}

